
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=6fe80bc595968ed38896a6f9a543013d
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress