
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=6f9765adae98157c9d5bd650359ef973
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress